<ion-view>
  <ion-nav-title>
    <h1 class="title icon ion-ios-person"> 账号</h1>
  </ion-nav-title>

  <ion-content overflow-scroll="false"  class="stable-bg ">
     <div class="row-wrap balanced-bg  account-login text-center "  >
       <a ng-href="#/tab/login" class="col icon ion-gear-a  icon-account stable text-right "></a>
       <a ng-href="#/tab/login" class="col icon-login"><span ><i class="icon ion-ios-person stable "></i></span>
       <a class="col stable ">登录</a> </a>
     </div>
    <div class="list padding-top">
      <a ng-href="#/tab/guestlist" class="item item-icon-left item-icon-right">
        <i class="icon ion-person-stalker"></i>

        <h2>客户列表</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </a>



    </div>
    <div class="list">
      <a class="item item-icon-left item-icon-right">
        <i class="icon ion-information-circled"></i>

        <h2>软件版本信息</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
    </div>
    </div>
  </ion-content>
</ion-view>
