<ion-view>
  <ion-nav-title>
    <h1 class="title icon ion-person-stalker"> 客户列表</h1>
  </ion-nav-title>
        <ion-content class="stable-bg" overflow-scroll="false">
          <div class="list">
            <a ng-href="#/tab/guestlistdetails/张三/未拜访" class="item item-icon-left item-icon-right">
              <i class="icon ion-information-circled icon-calm" ></i>
              <h2>张三<span class="item-note">未拜访</span></h2>

              <i class="icon ion-ios-arrow-right"></i>

            </a>
            <a ng-href="#/tab/guestlistdetails/李四/已拜访" class="item item-icon-left item-icon-right">
              <i class="icon ion-checkmark-round icon-calm" ></i>
              <h2>李四 <span class="item-note">已拜访</span></h2>
              <i class="icon ion-ios-arrow-right"></i>
            </a>

          </div>
        </ion-content>

</ion-view>
