<ion-view>
  <ion-nav-title>
    <h1 class="title icon ion-android-list"> 客户详情</h1>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <a  class="button button-clear "> 已拜访</a>
  </ion-nav-buttons>
  <ion-content class="stable-bg" overflow-scroll="false">
    <ul class="list">
      <li  class="item ">
        <h2>客户编号   <span class="item-note">{{}}</span></h2>
      </li>
      <li  class="item ">
        <h2>客户名称   <span class="item-note">{{}}</span></h2>
      </li>
      <li class="item ">
        <h2>联系电话      <span class="item-note">{{}}</span></h2>
      </li>
      <li class="item ">
        <h2>客户介绍      <span class="item-note">{{}}</span></h2>
      </li>
      <li class="item ">
        <h2>拜访次数      <span class="item-note">{{}}</span></h2>
      </li>
      <li  class="item ">
        <h2>客户地址</h2>
        <p>{{}}</p>
      </li>
    </ul>

  </ion-content>

</ion-view>
