<ion-view>
  <ion-nav-title>
    <h1 class="title icon ion-person"> 登录</h1>
  </ion-nav-title>
  <ion-content overflow-scroll="false">
    <form>
      <div class="list card">
        <label class="item item-input">
          <span class="input-label icon ion-person"> 账号</span>
          <input type="text">
        </label>
        <label class="item item-input">
          <span class="input-label icon ion-unlocked"> 密码</span>
          <input type="password">
        </label>
<!--        <ion-checkbox class="checkbox-balanced">
          记住密码
        </ion-checkbox>-->
        <div class="item">
          <button class="button button-block button-balanced" ng-click="">登录</button>

        </div>
      </div>
    </form>
  </ion-content>
</ion-view>

