<ion-view>
  <ion-nav-title>
    <h1 class="title ">  <img id="logo" src="img/logo.png" alt="" /> 壁虎漫步</h1>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button icon ion-location no-border "> 成都</button>
  </ion-nav-buttons>
  <div class="bar bar-subheader  item-input-inset balanced-bg ">
    <label class="item-input-wrapper white-bg">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search"  readonly  ng-click="modal.show()" placeholder="请输入您要搜索的内容">
    </label>

  </div>
  <ion-content overflow-scroll="true" scroll="false">
    <div id="gaode-map">
    </div>
  </ion-content>
</ion-view>
