<ion-view>
  <ion-nav-title>
    <h1 class="title icon ion-ios-list"> 工单 </h1>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button icon ion-location no-border "> 成都市</button>
  </ion-nav-buttons>

  <ion-tabs class="has-subheader tabs-balanced tabs-striped tabs-top ">
    <ion-tab title="待处理">
      <ion-view>
        <ion-content class="stable-bg" overflow-scroll="false">
          <ion-list>
            <div collection-repeat="item in workorder_list">
              <p class="padding-top"></p>
              <ion-item ng-href="#/tab/worklistdetails/{{item.workorder_id}}/{{item.type}}"
                 class="item item-icon-left item-icon-right no-border">
                <i class="icon ion-settings icon-balanced"></i>
                <h2>工单号:{{item.workorder_id}}({{item.type}}工单)</h2>
                <p>状态：{{item.status}} &nbsp; &nbsp;&nbsp;描述：{{item.description}}</p>
                <p>楼盘数目：{{item.cells}} &nbsp; &nbsp;&nbsp;位置点数目：{{item.count}} </p>
                <i class="icon ion-ios-arrow-right"></i>
                <ion-option-button class="button-balanced" ng-click="updateworkordersstatus(item.workorder_id,'完成')" >完成</ion-option-button>
                <ion-option-button class="button-energized" ng-click="updateworkordersstatus(item.workorder_id,'取消')" >取消</ion-option-button>
              </ion-item>

            </div>

          </ion-list>
        </ion-content>
      </ion-view>
    </ion-tab>
    <ion-tab title="已完成">
      <ion-view>
        <ion-content class="stable-bg" overflow-scroll="false">
          <div class="list">
            <div collection-repeat="item in workorder_list">
              <a ng-if="item.type=='完成'" ng-href="#/tab/worklistdetails/{{item.workorder_id}}/{{item.type}}"
                 class="item item-icon-left item-icon-right no-border">
                <i class="icon ion-settings icon-balanced"></i>
                <h2>工单号:{{item.workorder_id}}({{item.type}}工单)</h2>
                <p>状态：{{item.status}}&nbsp; &nbsp;&nbsp;描述：{{item.description}}</p>
                <p>楼盘数目：{{item.cells}} &nbsp; &nbsp;&nbsp;位置点数目：{{item.count}} </p>
                <i class="icon ion-ios-arrow-right"></i>
              </a>
              <p class="padding-top"></p>
            </div>

          </div>
        </ion-content>
      </ion-view>
    </ion-tab>
  </ion-tabs>

</ion-view>
