<ion-view>
  <ion-nav-title>
    <h1 class="title icon ion-ios-list"> 工单</h1>
  </ion-nav-title>

    <ion-tabs class="tabs-balanced tabs-striped tabs-top ">
      <ion-tab title="待处理">
        <ion-view>
          <ion-content class="stable-bg" overflow-scroll="false">

          </ion-content>
        </ion-view>
      </ion-tab>
      <ion-tab title="已完成" >
        <ion-view>
          <ion-content class="stable-bg" overflow-scroll="false">

          </ion-content>
        </ion-view>
      </ion-tab>
    </ion-tabs>

</ion-view>
