<ion-view>
  <ion-nav-title>
    <h1 class="title icon ion-ios-list"> 工单</h1>
  </ion-nav-title>

    <ion-tabs class="tabs-balanced tabs-striped tabs-top ">
      <ion-tab title="待处理">
        <ion-view>
          <ion-content class="stable-bg" overflow-scroll="false">
            <div class="list">
              <a ng-href="#/tab/worklistdetails/维修工单" class="item item-icon-left item-icon-right no-border">
                <i class="icon ion-settings icon-balanced" ></i>
                <h2>工单号588558556871**(维修工单)</h2>
                <p>xx市xx街xx楼</p>
                <i class="icon ion-ios-arrow-right"></i>
              </a>
              <a ng-href="#/tab/worklistdetails/上画工单" class="item item-icon-left item-icon-right">
                <i class="icon ion-camera icon-balanced" ></i>
                <h2>工单号834964566441**(上画工单)</h2>
                <p>xx市xx街xx楼</p>
                <i class="icon ion-ios-arrow-right"></i>
              </a>
              <a ng-href="#/tab/worklistdetails/维修工单" class="item item-icon-left item-icon-right">
                <i class="icon ion-wrench icon-balanced" ></i>
                <h2>工单号146787236745**(维修工单)</h2>
                <p>xx市xx街xx楼</p>
                <i class="icon ion-ios-arrow-right"></i>
              </a>
            </div>
          </ion-content>
        </ion-view>
      </ion-tab>
      <ion-tab title="已完成" >
        <ion-view>
          <ion-content class="stable-bg" overflow-scroll="false">
            <div class="list">
              <a ng-href="#/tab/worklistdetails/已完成" class="item item-icon-left item-icon-right no-border">
                <i class="icon ion-checkmark-round icon-balanced" ></i>
                <h2>工单号588558556875**</h2>
                <p>xx市xx街xx楼</p>
                <i class="icon ion-ios-arrow-right"></i>
              </a>
              <a ng-href="#/tab/worklistdetails/已完成" class="item item-icon-left item-icon-right">
                <i class="icon ion-checkmark-round icon-balanced" ></i>
                <h2>工单号588558556876**</h2>
                <p>xx市xx街xx楼</p>
                <i class="icon ion-ios-arrow-right"></i>
              </a>

            </div>
          </ion-content>
        </ion-view>
      </ion-tab>
    </ion-tabs>

</ion-view>
