
#logo{
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.1rem;
  border: 2px solid #ffffff;
  vertical-align: text-bottom;
}
#gaode-map,#gaode-map-1{
  width: 100%;
  height: calc(100% + 1rem);

}
/* 修改地图默认样式*/
.amap-info-content{
  border: none;
}

.amap-info-sharp{
  background-image: none;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid #fff;
  -webkit-transform:translateX(-16px);
  -ms-transform:translateX(-16px);
  -o-tranform:translateX(-16px);
  -moz-transform:translateX(-16px);
  transform: translateX(-16px);
}

