
#logo{
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  border: 3px solid #ffffff;
  vertical-align: text-top;
}
#gaode-map,#gaode-map-1{
  width: 100%;
  height: calc(100% + 1rem);

}

