.icon-balanced{
  color: #33cd5f!important;
}
.icon-calm{
  color: #11c1f3!important;
}

#worklistdetails .icon{
  font-size: 1rem;
}

#worklistdetails button {
  border: none;
  background-color: #f8f8f8;
}

#worklistdetails button:hover{
  background-color: #ffffff;
}
